<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetsun.meetsun.dao.EduCourseDao">
	<insert id="saveEduCourse" parameterType="com.meetsun.meetsun.entity.EduCourse">
		insert into edu_course(sys_id,name,create_time,update_time)
			values(#{sysId},#{name},now(),now())
	</insert>
	<select id="getEduCourseList" parameterType="com.meetsun.meetsun.entity.EduCourse" resultType="com.meetsun.meetsun.entity.EduCourse">
		select * from edu_course where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if> 
		<if test="name != '' and name != null">
			and name like CONCAT('%', #{name}, '%')
		</if> 
		order by create_time asc
		<if test="offset != null">
			limit #{offset},#{pageNumber}
		</if>
	</select>
	<select id="getEduCourseListTotal" parameterType="com.meetsun.meetsun.entity.EduCourse" resultType="java.lang.Integer">
		select count(*) from edu_course where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if>
		<if test="name != '' and name != null">
			and name like CONCAT('%', #{name}, '%')
		</if> 
	</select>
	<update id="updateEduCourse" parameterType="com.meetsun.meetsun.entity.EduCourse">
		update edu_course set 
		<if test="name != '' and name != null">
			name = #{name},
		</if> 
		update_time = now() where sys_id = #{sysId}
	</update>
	<delete id="deleteEduCourse" parameterType="com.meetsun.meetsun.entity.EduCourse">
		delete from edu_course where sys_id = #{sysId}
	</delete>
</mapper>