<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetsun.meetsun.dao.EduClassesDao">
	<insert id="saveEduClasses" parameterType="com.meetsun.meetsun.entity.EduClasses">
		insert into edu_classes(sys_id,cla_name,create_time,update_time)
			values(#{sysId},#{claName},now(),now())
	</insert>
	<select id="getEduClassesList" parameterType="com.meetsun.meetsun.entity.EduClasses" resultType="com.meetsun.meetsun.entity.EduClasses">
		select * from edu_classes where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if> 
		<if test="claName != '' and claName != null">
			and cla_name like CONCAT('%', #{claName}, '%')
		</if> 
		order by create_time asc
		<if test="offset != null">
			limit #{offset},#{pageNumber}
		</if>
	</select>
	<select id="getEduClassesListTotal" parameterType="com.meetsun.meetsun.entity.EduClasses" resultType="java.lang.Integer">
		select count(*) from edu_classes where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if>
		<if test="claName != '' and claName != null">
			and cla_name like CONCAT('%', #{claName}, '%')
		</if> 
	</select>
	<update id="updateEduClasses" parameterType="com.meetsun.meetsun.entity.EduClasses">
		update edu_classes set 
		<if test="claName != '' and claName != null">
			cla_name = #{claName},
		</if> 
		update_time = now() where sys_id = #{sysId}
	</update>
	<delete id="deleteEduClasses" parameterType="com.meetsun.meetsun.entity.EduClasses">
		delete from edu_classes where sys_id = #{sysId}
	</delete>
</mapper>