<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetsun.meetsun.dao.EduStudentDao">
	<insert id="saveEduStudent" parameterType="com.meetsun.meetsun.entity.EduStudent">
		insert into edu_student(sys_id,cla_id,name,status,come_date,out_date,create_time,update_time)
			values(#{sysId},#{claId},#{name},#{status},#{comeDate},#{outDate},now(),now())
	</insert>
	<select id="getEduStudentList" parameterType="com.meetsun.meetsun.entity.EduStudent" resultType="com.meetsun.meetsun.entity.EduStudent">
		select * from edu_student where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if> 
		order by status asc,create_time desc
		<if test="offset != null">
			limit #{offset},#{pageNumber}
		</if>
	</select>
	<select id="getEduStudentListTotal" parameterType="com.meetsun.meetsun.entity.EduStudent" resultType="java.lang.Integer">
		select count(*) from edu_student where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if> 
	</select>
	<update id="updateEduStudent" parameterType="com.meetsun.meetsun.entity.EduStudent">
		update edu_student set 
		<if test="name != '' and name != null">
			name = #{name},
		</if> 
		<if test="claId != '' and claId != null">
			cla_id = #{claId},
		</if> 
		<if test="status != '' and status != null">
			status = #{status},
		</if> 
		<if test="comeDate != '' and comeDate != null">
			come_date = #{comeDate},
		</if> 
		<if test="outDate != '' and outDate != null">
			out_date = #{outDate},
		</if> 
		update_time = now() where sys_id = #{sysId}
	</update>
	<delete id="deleteEduStudent" parameterType="com.meetsun.meetsun.entity.EduStudent">
		delete from edu_student where sys_id = #{sysId}
	</delete>
</mapper>